<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default('nl')|slice(0,2) %}
<!--[if lte IE 9]>
<html class="no-js lt-ie9" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="{{ htmlLocale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    <title>
        SheepMusic ..{% block title %} {% endblock %}
    </title>

    {# Favicons #}
    {% include 'Layout/_favicons.html.twig' %}

    {# Webfonts #}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {# CSS #}
    {% include 'Layout/_css.html.twig' %}

    {# JS #}
    {% include 'Layout/_js_header.html.twig' %}
</head>

<body>

{# Outdated browser message #}
{% include 'Layout/_outdatedbrowser.html.twig' %}
{# Header #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% block header %}
        {% include 'Layout/_header.html.twig' %}
    {% endblock %}
{% endif %}
<div class="container-fluid  {% block extra_layout_classes %}{% endblock %}">
    <div class="row">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% block submenu %}
                {% include 'Layout/_submenu.html.twig' %}
            {% endblock %}
        {% endif %}
        {# Content #}

        <main role="main" id="barba-wrapper" class="main-content">
            <div class="row">
                <div class="barba-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <div class="playlist">
            <button class="navbar-toggler" type="button">
                &#9776;
            </button>
            <h3 class="playlist-header">Current Playlist</h3>
            <ul>
                <li> no songs</li>
            </ul>
            <div class="playlist-actions">actions</div>
        </div>
    </div>
</div>

{# Footer #}
{% block footer %}
    {% include 'Layout/_footer.html.twig' %}
{% endblock %}

{# Cookieconsent #}
{% block cookieconsent %}
    {#{% include 'Layout/_cookieconsent.html.twig' %}#}
{% endblock %}

{# Google Tagmanager #}
{% include 'Layout/_googletagmanager.html.twig' %}
{# JS Footer #}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% include 'Layout/_js_footer.html.twig' %}
{% block modals %}{% endblock %}
{% block pageJavascript %}{% endblock %}
</body>
</html>
