{# @var artist \BlackSheep\MusicLibraryBundle\Entity\Artists#}
<div class="info-bar artist">
    <div class="info-bar-image">
        <img src="{% if artist.image is not null %}{{ artist.image }}{% else %}{{ artist.lastFmInfo.image.large }}{% endif %}" />
    </div>
    <div class="info-bar-content">
        <h1 class="artist-name">{{ artist.name }}</h1>
        <span class="label label-info">{{ artist.playCount }}</span>
        <span class="label label-info">{{ artist.createdAt | localdatetime }}</span>
        <span class="label label-info">{{ artist.updatedAt | localdatetime }}</span>
    </div>
</div>