{# @var artist \BlackSheep\MusicLibraryBundle\Entity\Artists#}
<div class="info-bar artist">
    <img class="info-bar-image"
         src="{% if artist.image is not null %}{{ artist.image }}{% endif %}"/>
    <div class="info-bar-content">
        <h1 class="artist-name">{{ artist.name }}</h1>
        <a class="btn btn-floating btn-play" data-play_artist_albums="{{ path('get_artist',{'artist' : artist.id}) }}">
            <i class="material-icons">play_arrow</i>
        </a>
        <a class="btn btn-floating btn-queue"
           data-queue_artist_albums="{{ path('get_artist',{'artist' : artist.id}) }}">
            <i class="material-icons">queue</i>
        </a>
        <div class="description" title="click for more" data-expand=".description">
            {{ artist.biography }}
        </div>
    </div>
</div>