{% if album.cover is not null %}
    {% set backgroundImage = album.cover %}
{% else %}
    {% set backgroundImage = asset('frontend/img/default.png') %}
{% endif %}
<div class="card album-card">
    <a href="{{ url('library_album',{'album':album.slug }) }}">
        <img class="card-img-top" src='{{ backgroundImage }}'/>
    </a>
    <div class="card-block has-sheet">
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn btn-floating">
                <i class="material-icons">more_horiz</i>
            </a>
            <ul class="action-sheet">
                <li>
                    <a class="btn-floating" data-play_album="{{ path('get_album', {'album' : album.id}) }}">
                        <i class="material-icons">play_arrow</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating" data-queue_album="{{ path('get_album', {'album' : album.id}) }}">
                        <i class="material-icons">playlist_add</i>
                    </a>
                </li>
            </ul>
        </div>
        <a href="{{ url('library_album',{'album':album.slug }) }}">
            <h4 class="card-title">
                {{ album.name }}
            </h4>
            <p class="card-text">
                {{ album.artist.name }}
            </p>
        </a>
    </div>
</div>