{# @var album \BlackSheep\MusicLibraryBundle\Entity\Albums#}
{# @var artist \BlackSheep\MusicLibraryBundle\Entity\Artists#}
{% set artist = album.artist %}
<div class="info-bar album media">

    {% if album.cover is not null %}
    <img class="info-bar-image"
         src="{{ album.cover }}"/>
    {% endif %}
    <div class="info-bar-content media-body">
        <h1 class="album-name">{{ album.name }}</h1>
        <h3 class="artist-name">Artist: {{ artist.name }}</h3>
        <a class="btn btn-floating btn-play" data-play_album={{ path('get_album', {'album' : album.id}) }}>
            <i class="material-icons">play_arrow</i>
        </a>
        <a class="btn btn-floating btn-queue" data-queue_album={{ path('get_album', {'album' : album.id}) }}>
            <i class="material-icons">queue</i>
        </a>
    </div>
</div>