{# @var album \BlackSheep\MusicLibraryBundle\Entity\Albums#}
{# @var artist \BlackSheep\MusicLibraryBundle\Entity\Artists#}
{% set artist = album.artist %}
<div class="info-bar album">
    <a class="btn btn-floating btn-play-album">
        <i class="material-icons">play_arrow</i>
    </a>
    <div class="info-bar-image">
        <img src="{% if album.cover is not null %}{{ album.cover }}{% else %}{{ album.lastFmInfo.image.large }}{% endif %}"/>
    </div>
    <div class="info-bar-content">
        <h1 class="album-name">{{ album.name }}</h1>
        <div class="artist-info">

            <div class="artist-image">
                <img src="{% if artist.image is not null %}{{ artist.image }}{% else %}{{ artist.lastFmInfo.image.large }}{% endif %}"/>
            </div>
            <div class="artist-content">
                <h3 class="artist-name">{{ artist.name }}</h3>
                <span class="label label-info">{{ artist.playCount }}</span>
                <span class="label label-info">{{ artist.createdAt | localdatetime }}</span>
                <span class="label label-info">{{ artist.updatedAt | localdatetime }}</span>
            </div>

        </div>
        <span class="label label-info">{{ album.createdAt | localdatetime }}</span>
        <span class="label label-info">{{ album.updatedAt | localdatetime }}</span>
    </div>
</div>