<nav>
    <ul id="side-nav" class="nav side-nav flex-column">
        <a class="navbar-brand" href="#" data-close="side-nav">
            <img class="logo" src="{{ asset('frontend/img/zwartschaap.png') }}">
            SheepMusic
        </a>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'library_artists' %} active {% endif %}"
               href="{{ path('library_artists') }}">Artists
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'library_albums' %} active {% endif %}"
               href="{{ path('library_albums') }}">Albums
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'library_recent_albums' %} active {% endif %}"
               href="{{ path('library_recent_albums') }}">Recent albums
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'library_playlists' %} active {% endif %}"
               href="{{ path('library_playlists') }}">Playlists
            </a>
        </li>
    </ul>
</nav>