<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default('nl')|slice(0,2) %}
<!--[if lte IE 9]>
<html class="no-js lt-ie9" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="{{ htmlLocale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/apple-icon-57x57.png') }} ">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('/apple-icon-60x60.png') }} ">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('/apple-icon-72x72.png') }} ">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('/apple-icon-76x76.png') }} ">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/apple-icon-114x114.png') }} ">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('/apple-icon-120x120.png') }} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/apple-icon-144x144.png') }} ">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/apple-icon-152x152.png') }} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-icon-180x180.png') }} ">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('/android-icon-192x192.png') }} ">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }} ">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/favicon-96x96.png') }} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon-16x16.png') }} ">
    <link rel="manifest" href="{{ asset('/manifest.json') }} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>
        SheepMusic ..{% block title %} {% endblock %}
    </title>

    {# Favicons #}
    {% include '@App/Layout/_favicons.html.twig' %}
    {# CSS #}
    {% include '@App/Layout/_css.html.twig' %}
    {# JS #}
    {% include '@App/Layout/_js_header.html.twig' %}
</head>
<body {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_USER') %}class="playlist-show"{% endif %}>
<header>
    {# Header #}
    {% include '@App/Layout/_header.html.twig' %}
</header>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_USER') %}
    {% include '@App/Layout/_submenu.html.twig' %}
{% endif %}
<main role="main" class="container-fluid  {% block extra_layout_classes %}{% endblock %}">
    {# Content #}
    {% include 'Components/loading-overlay.html.twig' %}
    <div class="main-content">
        <div id="barba-wrapper" class="left-column">
            <div class="barba-container">
                {% include ':Components:flashmessage.html.twig' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_USER') %}
            {% include 'AppBundle:Components:playlist.html.twig' %}
        {% endif %}
    </div>
</main>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# Footer #}
    {% include '@App/Layout/_footer.html.twig' %}
    {# JS Footer #}
    <script src="{{ asset('frontend/js/app.js') }}"></script>

    {% include '@App/Layout/_js_footer.html.twig' %}
{% endif %}
</body>
</html>
