{% if album.cover is not null %}
    {% set backgroundImage = album.cover %}
{% else %}
    {% set backgroundImage = asset('frontend/img/default.png') %}
{% endif %}
<div class="card album-card">
    <img class="card-img-top"
         src='{{ backgroundImage }}'/>
    <div class="card-img-overlay">
        <h4 class="card-title">
            <a href="{{ url('library_artist',{'artist': album.artist.id}) }}">
                {{ album.artist.name }}
            </a>
        </h4>
        <p class="card-text">
           {{ album.updatedAt|date }}
        </p>
    </div>
    <div class="card-footer text-muted actions">
        <a href="{{ url('library_album',{'artist': album.artist.id, 'album':album.id }) }}"
           class="btn btn-primary-outline"">
            detail
        </a>
    </div>
</div>