<div class="artist-card">
    <div class="card-image">
        {% if artist.image is not null %}
        <img src="{{ artist.image }}" />
        {% else %}
            <img src=" {{ asset('frontend/img/default.png') }}" />
        {% endif %}
    </div>
    <div class="title">
        {{ artist.name }}
    </div>
    <div class="text">
        {{ artist.updatedAt|date }}
    </div>
    <div class="actions">
        <a href="{{ url('library_artist',{'artist': artist.id}) }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            detail
        </a>
    </div>
</div>